testing
application/config/config.php
application/config/config.php
application/config/config.php
application/views/layout/_home.php
uploads/products/1.jpg
uploads/products/11.jpg
application/views/customer/inventry/addcategory.php
application/controllers/Inventory.php
application/config/database.php
application/config/database.php
application/config/database.php
application/config/database.php
application/logs/709ab2b788df802911970da5be361141
