@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}
.nav-wrapper {
	width: 100%;
	height: auto;
	float: left;
	margin: 0px;
	padding: 0px;
	background: #88be4c;
}
.header, .banner, .bnr_rgt, .how, .footer {
	width: 100%;
	height: auto;
	float: left;
	margin: 0px;
	padding: 0px;
}
.logo {
	margin-top: 29px;
	width: 100%;
}
.logo h3 {
	color: #fff;
	font-size: 27px;
	font-weight: 400;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
.logo h3 a {
	text-decoration: none;
	color: #fff;
}
.logo h3 span {
	color: #fff;
}
.loginfields {
	float: right;
	margin: 0 0 20px;
	width: 100%;
}
.paddingRightZero {
	padding-right: 0;
}
.hdr-form-input_s input {
	background: #88be4c none repeat scroll 0 0;
	border: 1px solid #fff;
	border-radius: 0;
	color: #fff;
}
.hdr-form-input_s input:focus {
	border-color: #fff;
}
.hdr-form-input_s label {
	color: #fff;
	font-size: 13px;
	font-weight: normal;
}
.pswrd {
	margin-bottom: 5px;
}
.pswrd a {
	color: white;
	font-size: 14px;
}
.pswrd a:hover {
	text-decoration: none;
}
.san_submit {
	background: #364c1e none repeat scroll 0 0;
	border: 1px solid #364c1e;
	border-radius: 0;
	float: right;
	font-size: 14px;
	padding: 6px 23px;
}
.header_main {
	width: 100%;
	height: auto;
	float: left;
	margin: 0px;
	padding: 0px;
	background: #f5f5f5;
}
.san_menu {
	margin-bottom: 0px;
	border: none;
}
.san_active a {
	background: #f5f5f5 !important;
	color: #000 !important;
	border-bottom: 3px solid #88be4c;
}
.banner {
	background: #f2f2f2;
	height: auto;
	padding: 30px 0px;
}
/* carousel */
#quote-carousel {
	padding: 0 10px 30px 10px;
	margin-top: 30px;
	text-align: left;
}
/* indicator position */
#quote-carousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
	background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
	background: #333333;
	height: 10px;
	width: 10px;
	margin-bottom: 1px;
}
.inf_bnr {
	margin: 50px 0px 0px 0px;
}
.inf_bnr p {
	line-height: 24px;
}
.inf_bnr h4 {
	margin-top: 20px;
}
.inf_bnr h4 a {
	background: #88be4c none repeat scroll 0 0;
	color: #fff;
	font-size: 15px;
	margin-top: 0;
	padding: 5px 17px;
}
.inf_bnr h4 a:hover {
	text-decoration: none;
}
.bnr_rgt {
	background: #fff;
}
.bnr_rgt h1 {
	color: #f60;
	font-size: 20px;
	margin: 20px 0;
}
.bnr_rgt label {
	color: #888888;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	left: 0;
	margin-bottom: 2px;
}
.inf_cmpy {
	margin-bottom: 7px;
}
.inf_cmpy input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #999;
	float: left;
	font-size: 13px;
	height: 30px;
}
.inf_cmpy input[type="submit"] {
	background: #88be4c none repeat scroll 0 0;
	border: 1px solid #88be4c;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 13px;
	height: 30px;
	margin: 5px 0 10px 0;
	outline: medium none;
	padding: 6px 0;
	text-align: center;
}
.howit {
	padding: 40px 0px;
	width: 100%;
	height: auto;
	margin: 0px;
	float: left;
}
.how h1 {
	font-size: 27px;
	margin: 0px;
}
.how p {
	line-height: 24px;
	margin: 20px auto 0;
	width: 600px;
}
.food {
	color: #000;
	font-size: 20px;
	padding: 115px 0 0;
	text-align: center;
}
.food:first-child {
	background: url(../images/food_1.png) no-repeat scroll center top;
}
.food span.text-capi {
	padding-top: 15px !important;
}
.food span.cate-cont {
	color: #333 !important;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	padding-top: 5px;
	display: block;
}
.food:nth-child(2) {
	background: url(../images/food_2.png) no-repeat scroll center top;
}
.food:nth-child(3) {
	background: url(../images/food_3.png) no-repeat scroll center top;
}
.food:last-child {
	background: url(../images/food_4.png) no-repeat scroll center top;
}
.fd_main {
	margin-top: 50px;
}
.footer {
	background: #242424 none repeat scroll 0 0;
	padding: 40px 0;
}
.queries {
	color: #aaaaaa;
	font-size: 20px;
}
.googleApp {
	display: inline-block;
	margin: 10px 8px 0 0;
}
.siteMap p {
	color: #aaaaaa;
	font-size: 20px;
	margin: 0 0 23px;
}
.siteMap ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.siteMap ul {
	list-style: outside none none;
}
.siteMap ul li a {
	color: #fff;
	display: inline-block;
	font-size: 15px;
	line-height: 14px;
	margin: 0 0 10px;
}
.social {
	margin-right: 15px;
}
.fter {
	background: #333333 none repeat scroll 0 0;
	color: #adadad;
	float: left;
	font-size: 14px;
	line-height: 18px;
	padding: 16px 0;
	width: 100%;
}
