@charset "utf-8";
/* CSS Document */
.mar_t100{
	margin-top:100px
}
body {
	width: 100%;
	height: auto;
	float: left;
	margin: 0px 0px;
	padding: 0px 0px;
	font-family: 'Open Sans', sans-serif;
}
.nav_wrapper {
	width: 100%;
	height: auto;
	float: left;
	margin: 0px;
	padding: 0px;
}
.header_main, .logo, .navigation_main, .ser_mian, .bdy_ser, footer {
	width: 100%;
	height: auto;
	float: left;
	margin: 0px;
	padding: 0px;
	bottom:0px;
}
.header_main {
	padding: 10px 0px;
}
.logo p {
	margin-bottom: 0px;
}
.logo p img {
	width: 54%;
}
/*notiication*/
.notification_main, .navi_main {
	margin: 0px;
	padding: 0px;
}
.notification_main li, .navi_main li {
	list-style: none;
	display: inline-block;
}
.notification_main a {
	text-decoration: none;
}
.dropdown-menu.notify-drop {
	min-width: 320px;
	background-color: #fff;
	min-height: 360px;
	max-height: 360px;
}
.dropdown-menu.notify-drop .notify-drop-title {
	border-bottom: 1px solid #e2e2e2;
	padding: 5px 15px 10px 15px;
}
.dropdown-menu.notify-drop .drop-content {
	min-height: 280px;
	max-height: 280px;
	overflow-y: scroll;
}
.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track {
 background-color: #F5F5F5;
}
.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar {
 width: 8px;
 background-color: #F5F5F5;
}
.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb {
 background-color: #ccc;
}
.dropdown-menu.notify-drop .drop-content > li {
	border-bottom: 1px solid #e2e2e2;
	padding: 10px 0px 5px 0px;
}
.dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
	background-color: #fafafa;
}
.dropdown-menu.notify-drop .drop-content > li:after {
	content: "";
	clear: both;
	display: block;
}
.dropdown-menu.notify-drop .drop-content > li:hover {
	background-color: #fcfcfc;
}
.dropdown-menu.notify-drop .drop-content > li:last-child {
	border-bottom: none;
}
.dropdown-menu.notify-drop .drop-content > li .notify-img {
	float: left;
	display: inline-block;
	width: 45px;
	height: 45px;
	margin: 0px 0px 8px 0px;
}
.dropdown-menu.notify-drop .allRead {
	margin-right: 7px;
}
.dropdown-menu.notify-drop .rIcon {
	float: right;
	color: #999;
}
.dropdown-menu.notify-drop .rIcon:hover {
	color: #333;
}
.dropdown-menu.notify-drop .drop-content > li a {
	font-size: 12px;
	font-weight: normal;
}
.dropdown-menu.notify-drop .drop-content > li {
	font-weight: bold;
	font-size: 11px;
}
.dropdown-menu.notify-drop .drop-content > li hr {
	margin: 5px 0;
	width: 70%;
	border-color: #e2e2e2;
}
.dropdown-menu.notify-drop .drop-content .pd-l0 {
	padding-left: 0;
}
.dropdown-menu.notify-drop .drop-content > li p {
	font-size: 11px;
	color: #666;
	font-weight: normal;
	margin: 3px 0;
}
.dropdown-menu.notify-drop .drop-content > li p.time {
	font-size: 10px;
	font-weight: 600;
	top: -6px;
	margin: 8px 0px 0px 0px;
	padding: 0px 3px;
	border: 1px solid #e2e2e2;
	position: relative;
	background-image: linear-gradient(#fff, #f2f2f2);
	display: inline-block;
	border-radius: 2px;
	color: #B97745;
}
.dropdown-menu.notify-drop .drop-content > li p.time:hover {
	background-image: linear-gradient(#fff, #fff);
}
.dropdown-menu.notify-drop .notify-drop-footer {
	border-top: 1px solid #e2e2e2;
	bottom: 0;
	position: relative;
	padding: 8px 15px;
}
.dropdown-menu.notify-drop .notify-drop-footer a {
	color: #777;
	text-decoration: none;
}
.dropdown-menu.notify-drop .notify-drop-footer a:hover {
	color: #333;
}
.navi_main {
	float: right;
}
.navi_main li:first-child {
	margin: 0 36px 0px 0;
}
/*left side menu start here*/
.nav-side-menu {
	overflow: auto;
	font-size: 12px;
	font-weight: 200;
	background-color: #2e353d;
	position: static;
	top: 0px;
	width: 280px;
	height: 100%;
	color: #e1ffff;
}
.nav-side-menu .brand {
	background-color: #006a99;
	line-height: 50px;
	display: block;
	text-align: center;
	font-size: 14px;
}
.nav-side-menu .toggle-btn {
	display: none;
}
.nav-side-menu ul, .nav-side-menu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: 35px;
	cursor: pointer;/*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before, .nav-side-menu li :not(collapsed) .arrow:before {
	font-family: FontAwesome;
	content: "\f078";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
}
.nav-side-menu ul .active, .nav-side-menu li .active {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active, .nav-side-menu li .sub-menu li.active {
	color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a, .nav-side-menu li .sub-menu li.active a {
	color: #d19b3d;
}
.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
	background-color: #181c20;
	border: none;
	line-height: 28px;
	border-bottom: 1px solid #23282e;
	margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover, .nav-side-menu li .sub-menu li:hover {
	background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before, .nav-side-menu li .sub-menu li:before {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}
.nav-side-menu li {
	padding-left: 0px;
	border-left: 3px solid #2e353d;
	border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
	text-decoration: none;
	color: #e1ffff;
	font-size: 13px;
}
.nav-side-menu li a i {
	padding-left: 10px;
	width: 20px;
	padding-right: 20px;
}
.nav-side-menu li:hover {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
@media (max-width: 767px) {
.nav-side-menu {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}
.nav-side-menu .toggle-btn {
	display: block;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10 !important;
	padding: 3px;
	background-color: #ffffff;
	color: #000;
	width: 40px;
	text-align: center;
}
.brand {
	text-align: left !important;
	font-size: 22px;
	padding-left: 20px;
	line-height: 50px !important;
}
}
@media (min-width: 767px) {
.nav-side-menu .menu-list .menu-content {
	display: block;
}
}
.bdy_ser {
	background: #f2f2f2;
}
.add_lsit {
	margin: 0px auto;
	padding: 69px 0;
	text-align: center;
}
.add_lsit li {
	display: inline-block;
	list-style: none;
}
.add_sto {
	padding: 0px 127px;
}
.footer {
	background: #242424 none repeat scroll 0 0;
	padding: 40px 0;
}
.queries {
	color: #aaaaaa;
	font-size: 20px;
}
.googleApp {
	display: inline-block;
	margin: 10px 8px 0 0;
}
.siteMap p {
	color: #aaaaaa;
	font-size: 20px;
	margin: 0 0 23px;
}
.siteMap ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.siteMap ul {
	list-style: outside none none;
}
.siteMap ul li a {
	color: #fff;
	display: inline-block;
	font-size: 15px;
	line-height: 14px;
	margin: 0 0 10px;
	font-weight: 200;
}
.social {
	margin-right: 15px;
}
.fter {
	background: #2e353d none repeat scroll 0 0;
	color: #adadad;
	float: left;
	font-size: 14px;
	line-height: 18px;
	padding: 16px 0;
	width: 100%;
	text-align: center;
	font-weight: 200;
}/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color: #3B5998;
}
.social-network a.icoTwitter:hover {
	background-color: #33ccff;
}
.social-network a.icoGoogle:hover {
	background-color: #BD3518;
}
.social-network a.icoVimeo:hover {
	background-color: #0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color: #007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color: #fff;
}
a.socialIcon:hover, .socialHoverClass {
	color: #44BCDD;
}
.social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	width: 40px;
	height: 40px;
	font-size: 20px;
}
.social-circle li i {
	margin: 0;
	line-height: 40px;
	text-align: center;
}
.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.hm_nav {
	margin-bottom: 0px;
}
.ser_mian {
	margin: 30px 0px;
}
.perfor_menu {
	padding: 12px 20px;
	float: left;
	width: 100%;
}
.miy {
	float: left;
	margin: 0 10px 0 0px;
}
#chartContainer {
	float: left;
}
/*change password start here*/
.chng {
	padding: 20px;
}
.chng h2 {
	margin: 0 0 20px 0;
	font-size: 20px;
	color: #006a99;
}
.chang_form {
	width: 400px;
}
.chang_form label {
	font-size: 14px;
	font-weight: 500;
}
    /* about us css */
	
a {
    text-decoration: none
}
ul {
    padding: 0;
    list-style-type: none
}
/* hr {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}
 */


.hidden {
    display: none
}
#white-overlay {
    top: 0;
    position: fixed;
    z-index: 9;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: hsla(0, 0%, 100%, .55)
}

#svgContainer {
    z-index: -2;
    position: absolute;
    opacity: .5;
    top: 15%;
    left: 20%
}
#svgContainer svg {
    width: 600px;
    height: 1180px;
}

.layer {
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background: #fff
}
#process {
    position: relative;
	padding:10px;
}
#process .row {
    font-size: 0
}
#process .row .col {
    text-align: center;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    position: relative;
    z-index: 2
}
#process .row .col  li{
    text-align: left;
    
}
#process .row .col  h3{
    text-align: left;
    
}
#process .row .col p {
    color: #4a4a4a;
    padding: 0 20%;
    line-height: 1.5
}
#process .row .col.c1 h1 {
    font-family: Raleway, sans-serif;
    font-size: 72px;
    font-weight: 400;
    color: #006a99;
    margin: 0
}
#process .row .col.c1 h3 {
    margin-top: 15px;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    color: #006a99;
    font-weight: 600;
	padding: 0px 14px;
}
#process .row .col.c2 {
    padding: 8% 0
}
#process .row .col.c2 img {
    width: 90%
}
#process .row.share .c2 img {
    width: 50%
}
#process .row.describe,
#process .row.interview {
    background: rgba(73, 143, 226, .03)
}

@media only screen and (max-width: 768px) {
    #hero-container {
        height: 100vh
    }
    #hero-container .hero-content {
        width: 100%
    }
    #hero-container .hero-content h3 {
        font-size: 24px
    }
    #hero-container .hero-content p {
        font-size: 16px;
        padding: 0 20px
    }
    #svgContainer,
    .layer {
        display: none
    }
    #process .row {
        padding: 15% 0
    }
    #process .row .col {
        display: block;
        width: 100%
    }
    #process .row .col.c1 {
        padding-bottom: 10%
    }
    #process .row .col.c1 h1 {
        font-size: 42px
    }
    #process .row .col.c1 h3 {
        font-size: 20px;
        padding: 0 4%
    }
    #process .row .col.c1 p {
        font-size: 16px;
        padding: 0 3%
    }
    #process .row .col.c2 {
        padding-top: 10%;
        padding-bottom: 10%
    }
	}
	.panel_cus{
		border:1px solid #006a99;
		
	}
	.panel_head_sty{
		border-radius:0px !important;
	}
	.panel_head_sty{
		font-size:20px;
		background-color:#006a99!important;
	}
	.panel_col{
		
	}
	/* end aboutus css */
	
	/* contat usus css */
	.pad_10{
		padding:10px;
	}
	.mar_t10{
		margin-top:10px;
	}
	.mar_b50{
		margin-bottom:50px;
	}
	.mar_b20{
		margin-bottom:20px;
	}
	/* logo style at navbar */
	.mar_b50{
		margin-bottom:100px
	}
	.pad_lr10{
		padding:0px 15px;
	}
	

	.pos_r{
		position: relative;

	}

	.pos_ab{
		position: absolute;
		top: 5px;
		right: -15px;
	}

	.extraPersonTemplate {
    display:none;
}
